<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Recipe Finder - Home</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Recipe Finder</h1>
    <p>Use this app to search for recipes and save your favorites.</p>
    <ul>
      <li><a href="/recipes/search">Search Recipes</a></li>
      <li><a href="/recipes/favorites">View Favorite Recipes</a></li>
    </ul>
  </body>
</html>
